body {
    background: linear-gradient(to bottom right, #284268 50%, #00BFFF 50%)
}
.service-bx {
    transform-origin: center; /* Set the rotation origin to the center */
    transition: transform 0.3s ease; /* Smooth transition back to normal when not hovered */
}
.service-bx:hover{
    animation: rotateBox 3s forwards;
    transition: transform 0.3s ease; /* Ensure smooth rotation */
    transform-origin: center;
}
@keyframes rotateBox {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}
